@font-face {
  font-family: Pirou;
  src: url('/assets/css/fonts/pirou.ttf');
}

.detail{
	width: 80%;
  	margin: 0 auto;
  	margin-top: 0.5rem;
}
.detailGame{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}
.pictureRateGame{
	flex-grow: 1;
	justify-content: center;
}
.infoGame{
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}
.titleGame{
	display: flex;
	color: #00ba8b;
	font-size: 1.5rem;
	font-weight: bold;
}
.chemin{
	color: #00ba8b;
	font-size: 1rem;
}
.editorGame{
	display: flex;
}
.platformGame{
	display: flex;
	font-size: 
}
.descriptionGame{
	display: flex;
	align-items: center;
	align-items: flex-start;
}
.platform{	
	background-color: #6de2c4;
	list-style-type: none;
	padding: 3.5px;
	margin-right: 0.25rem;
	color: white;
	display: flex;
	flex-wrap: wrap;
}
.intitule{
	width: 7.5rem;
	font-size: 1rem;
	font-weight: bold;
}
.intitule1{
	width: 7.5rem;
}
.description{
	max-width: 600px;
	font-size: 0.7rem;
}
.rate{
	font-size: 1.2rem;
}
.editor{
	font-size: 1rem;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.intituleAchat{
	width: 5rem;
	font-size: 1rem;
}
.noCopy{
	text-align: center;
}
.btnPrevenir{
	background-color: #6de2c4;
	padding: 0.25rem;
	color: white;
}
.infoAchat{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-width: 0.1rem;
	border-style: solid;
	border-color: #6de2c4;
	padding: 0.25rem;
	max-width: 15rem;
}
.ligneInfoAchat{
	display: flex;
	justify-content: space-between;
}
.comment{
	display: flex;
	flex-direction: column;
}
.commentTitle{
	color:#00ba8b;
	font-family: Pirou;
	border-bottom-style: solid;
	border-bottom-color: #00ba8b;
}
.commentView{
	display: flex;
	align-items: flex-start;
}
.commentList{
	flex-grow: 2;
}
.commentLineList{
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.commentUser{
	width: 5.5rem;
}
.commentUserAvatar{
	width: 5.5rem;
	height: 5.5rem;
	background-color: #cccccc;
}
.commentNameUser{
	margin: 0rem;
}
.createComment{
	margin-top: 0.5rem;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 0.1rem;
	justify-content: flex-end;
}
.writeComment{
	height: 5rem;
	margin: 0.25rem;
}
.noComment{
	color:#00ba8b;
	font-family: Pirou;
	font-size: 1.25rem;
	text-align-last: center;
}
.validComment{
	background-color: #6de2c4;
	padding: 0.25rem;
	color: white;
	max-width: 15rem;
}
.listStars{
	display: flex;
}
.star{
	height: 1rem;
	width: 1rem;
}