
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a routerLink="/shop" routerLinkActive="active">Magasin</a></li>
			  <li class="breadcrumb-item active">{{game.name}}</li>
			</ol>

		</div>
		<div class="col-9">
			<h2 class="titleGame">{{game.name}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<img class="img-fluid" src="{{game.cover}}" alt=""/>
			<div class="game-note-contain">
				<div class="game-note-color" [style.width]="width">
					<img src="../../../assets/images/icones/game-note.png" alt=""/>
				</div>
			</div>

		</div>

		<div class="col-6">
			<div class="jumbotron">
				<div class="editorGame">
					<h3 class="intitule">Editeur</h3>
					<ul *ngFor="let editor of game.editors">
						<li class="editor" >{{editor.name}}</li>
					</ul>
				</div>
				<div class="platformGame">
					<h3 class="intitule">Plateforme</h3>
					<ul *ngFor="let platform of game.platforms">
						<li class="platform" >{{platform.name}}</li>
					</ul>
				</div>

				<div class="descriptionGame">
					<p>{{game.description}}</p>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<ul *ngIf="hasCopies;else warn">
				<li *ngFor="let copy of game.copies" class="infoAchat">
					<div class="ligneInfoAchat">
						<h3 class="intituleAchat">Vendeur </h3>
						<p>{{copy.seller.firstName}}</p>
						<p>{{copy.seller.lastName}}</p>
					</div>
					<div class="ligneInfoAchat">
						<h3 class="intituleAchat">Prix </h3>
						<p>{{copy.price}} €</p>
					</div>
					<button type="button" class="btn btn-lg btn-outline-success">Ajouter au panier</button>
				</li>
			</ul>
			<ng-template #warn>
				<div class="infoAchat ligneInfoAchat">
					<p class="noComment noCopy">Aucun exemplaire disponible</p>
					<button class="btnPrevenir" >Me prévenir</button>
				</div>
			</ng-template>
		</div>
	</div>
	<div class="comment">
		<div class="commentTitle">
			<h3>Commentaires</h3>
		</div>
		<div class="commentView">
			<ul *ngIf="hasCommentary;else nothing" class="commentList">
				<li *ngFor="let comment of game.commentary" class="commentLineList">
					<div class="commentUser">
						<div class="commentUserAvatar">
							<img src="{{comment.editor.avatar}}" alt ="" class="commentUserAvatar" />
						</div>
						<div>
							<p class="commentNameUser">{{comment.editor.firstName}}</p>
							<p class="commentNameUser">{{comment.editor.lastName}}</p>
						</div>
					</div>
					<p class="commentary">{{comment.comment}}</p>	
				</li>
			</ul>	
			<ng-template #nothing>
				<div class="commentList">
					<p class="noComment">Noob ou pro-Gamer? Donnez votre avis sur ce jeu.</p>
				</div>
			</ng-template>
			<div class="createComment">
				<div class="rate">
					<ul class="listStars">
						<li><a value= "1" href=""><img class="star" src="../../../assets/images/icones/Etoile.png"></a></li>
						<li><a value= "2" href=""><img class="star" src="../../../assets/images/icones/Etoile.png"></a></li>
						<li><a value= "3" href=""><img class="star" src="../../../assets/images/icones/Etoile.png"></a></li>
						<li><a value= "4" href=""><img class="star" src="../../../assets/images/icones/Etoile.png"></a></li>
						<li><a value= "5" href=""><img class="star" src="../../../assets/images/icones/Etoile.png"></a></li>
					</ul>
				</div>
				<input type="text" name="addComment" class="writeComment">
				<button class="validComment" (click)="addComment(commentary)">Valider</button>
			</div>
		</div>
	</div>	
</div>