<div class="detail">
	<div class="detailGame">
		<div class="pictureRateGame">
			<img class="pictureGame" src="{{game.cover}}" alt=""/>
			<div class="rateGame">
				<p class="rate">NOTE: {{game.rate}}</p>
			</div>
		</div>
		<div class="infoGame">
			<div class="titleGame">
				<h3 class="intitule1">Titre</h3>
				<h3>{{game.name}}</h3>
			</div>
			<div class="editorGame">
				<h3 class="intitule">Editeur</h3>
				<ul *ngFor="let editor of game.editors">
					<li class="editor" >{{editor.name}}</li>
				</ul>
			</div>
			<div class="platformGame">
				<h3 class="intitule">Plateforme</h3>
				<ul *ngFor="let platform of game.platforms">
					<li class="platform" >{{platform.name}}</li>
				</ul>
			</div>
			<div class="descriptionGame">
				<h3 class="intitule">Description</h3>
				<p class="description">{{game.description}}</p>
			</div>	
		</div>
		<ul *ngIf="hasCopies;else warn">
			<li *ngFor="let copy of game.copies" class="infoAchat">
				<div class="ligneInfoAchat">
					<h3 class="intituleAchat">Vendeur </h3>
					<p>{{copy.seller.firstName}}</p>
					<p>{{copy.seller.lastName}}</p>
				</div>
				
				<div class="ligneInfoAchat">
					<h3 class="intituleAchat">Prix </h3>
					<p>{{copy.price}} €</p>
				</div>
				<button class="btnPrevenir" >Ajouter au panier</button>
			</li>
		</ul>
		<ng-template #warn>
			<div class="infoAchat ligneInfoAchat">
				<p class="noComment noCopy">Aucun exemplaire disponible</p>
				<button class="btnPrevenir" >Me prévenir</button>
			</div>
		</ng-template>	
	</div>
	<div class="comment">
		<div class="commentTitle">
			<h3>Commentaires</h3>
		</div>
		<div class="commentView">
			<ul *ngIf="hasCommentary;else nothing" class="commentList">
				<li *ngFor="let comment of game.commentary" class="commentLineList">
					<div class="commentUser">
						<div class="commentUserAvatar">
							<img src="{{comment.editor.avatar}}" alt ="" class="commentUserAvatar" />
						</div>
						<div>
							<p class="commentNameUser">{{comment.editor.firstName}}</p>
							<p class="commentNameUser">{{comment.editor.lastName}}</p>
						</div>
					</div>
					<p class="commentary">{{comment.comment}}</p>	
				</li>
			</ul>	
			<ng-template #nothing>
				<div class="commentList">
					<p class="noComment">Noob ou pro-Gamer? Donnez votre avis sur ce jeu.</p>
				</div>
			</ng-template>
			<div class="createComment">
				<p class="rate">NOTE: </p>
				<input type="text" name="addComment" class="writeComment">
				<button class="validComment" (click)="addComment(commentary)">Valider</button>
			</div>
		</div>
	</div>
</div>