.detailGame{
	font-family: "arial";
	src: url('');
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

}
.pictureRateGame{
	flex-grow: 1;
	justify-content: center;
}
.infoGame{
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}
.titleGame{
	display: flex;
	color: #00ba8b;
	font-size: 30px
}

.editorGame{
	display: flex;
}
.platformGame{
	display: flex;
	font-size: 
}
.descriptionGame{
	display: flex;
}
.platform{	
	background-color: #6de2c4;
	list-style-type: none;
	padding: 3.5px;
	margin-right: 5px;
	color: white;
	display: flex;
	flex-wrap: wrap;
}
.intitule{
	width: 150px;
	font-size: 20px;
}
.intitule1{
	width: 150px;
}
.description{
	width: 600px;
	font-size: 14px;
}
.rate{
	font-size: 24px;
}