<div class="container">
  <h3>Mon panier</h3>
  <div *ngIf="cart" class="row justify-content-around">
    <div class="col-8">
      <ul class="list-unstyled">
        <li *ngFor="let copy of cart.copies">
          <div class="row">
            <div class="col-4">
                <img *ngIf="copy.game.miniCover" src="{{copy.game.miniCover}}"
                  alt="jaquette de {{copy.game.name}}"/>
            </div>
            <div class="col-4">
              <p>Titre : {{copy.game.name}}</p>
              <p>Plateforme : {{copy.game.platforms[0].name}}</p>
              <p>Prix : {{copy.price}}</p>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-outline-danger" (click)="removeCopy(copy);">Retirer du panier</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <aside>
        <p>Nombre d'articles : {{cart.copies.length}}</p>
        <p>TOTAL : {{ totalPrice }}</p>
        <button type="button" class="btn btn-outline-success" style="margin-bottom: 10px;">Commander</button>
        <button type="button" class="btn btn-outline-danger" (click)="emptCart();">Vider</button>
      </aside>
    </div>
  </div>
</div>
