.title{
  font-size: 30px;
  color: #00ba8b;
  text-align: center
}

.container{
  border-color: #346473;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.list-reset{
  list-style-type: none;
}

.aside{
  width: fit-content;
  min-width: 200px;
  margin-left: 20px;
}
