<h2>Commande n°</h2>
<article>
  <h3>Adresse de facturation</h3>
  <form action="">
    <label for="nom-facturation">Nom</label><input id="nom-facturation" type="text" value="{{ order }}">
  </form>
  <button type="button" disabled="true">Enregistrer</button>
</article>
<article>
  <h3>Adresse de livraison</h3>

  <button type="button" disabled="true">Enregistrer</button>
</article>
<article>
  <h3>Service de livraison</h3>

  <button type="button" disabled="true">Enregistrer</button>
</article>

<h3>Récapitulatif de votre commande</h3>
<ul class="list-reset">
  <li>
    <article>
      <img src="" alt="jaquette du jeu">
      <p>Titre : </p>
      <p>Prix : </p>
    </article>
  </li>
</ul>

<aside>
  <p>TOTAL : </p>
  <button type="button">Payer</button>
</aside>
