@font-face {
  font-family: Pirou;
  src: url('/assets/css/fonts/pirou.ttf');
}
.myNav{
  width: 80%;
  margin: 0 auto;
  background-color:#00ba8b;
  margin-top: 1em;
}
.myNav li{
  font-family: Pirou;
  font-size: 1.2em;
}
a{
  color: white;
}
#panier{
  width:22.5%;
  margin-left: 2em;
}

.gauche{
  background-color: red;
  width: 33%;
}
.logo{
  width: 50%;
  display: flex;
  justify-content: center;
}
ul{
  margin-left: 5em;
}
