<nav class="navbar navbar-expand bg-faded rounded" id="myNav">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Magasin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-profile">Profil</a>
      </li>
    </ul>
    <app-game-search></app-game-search>
    <a routerLink="cart"><img src="../../assets/images/icones/panier.png" id="panier"/></a>
  </div>
  <div class="logo mx-auto">
    <img src="../../assets/images/YeOldeGameShoppe.png" />
  </div>
</nav>
<router-outlet>
</router-outlet>
