/* You can add global styles to this file, and also import other style files */
body{
  /*background-color: #EEE;*/
}
@font-face {
  font-family: Pirou;
  src: url('/assets/css/fonts/pirou.ttf');
}
#myNav{
  position:relative;
  width: 60%;
  margin: 0 auto;
  background-color:#00ba8b;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
#myNav ul{
  margin-left: 2rem;
}
#myNav li{
  font-family: Pirou;
  font-size: 1.2em;
  font-weight: bold;
}
#myNav a{
  color: white;
}
#panier{
  height: 40px;
  margin-left: 2em;
}
.gauche{
  background-color: red;
  width: 33%;
}
.logo{
  position:absolute;
  left: 0;
  right: 0;
  width: 8vw;
}

.game_vignette{
  margin-bottom: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}
.game_vignette:hover{
  animation: bounce 0.2s infinite alternate;
}
.game_vignette_title{
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: -0.5rem;
  padding: 1rem;
  background-color: #8630cc;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.game_vignette_date{
  text-align: right;
  margin-top: -0.5rem;
  background-color: #8630cc;
  color: white;
  font-weight: bolder;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.link:hover{
  text-decoration: none;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
